{% extends "base.html" %}

{%block title%}
Python Tips
{% endblock %}

{% block content %}
<div class="python-tips">
    <h1 class="titles">Python</h1>
    <img id="python-graph-img" src="/static/images/python-ranking-graph-statista.jpeg" alt="" srcset="">
    <h2>Python Tips</h2>
    <ol>
        <li>
            <h3>Understand the basics</h3>
            <p>Before diving into more complex topics, make sure you have a solid understanding of Python basics like
                variables, data types, loops, and functions.</p>
        </li>
        <li>
            <h3>Use meaningful names</h3>
            <p>Always choose variable and function names that reflect their purpose in the code. This makes your code
                easier to understand and maintain.</p>
        </li>
        <li>
            <h3>Learn and use Python's built-in functions</h3>
            <p>Python has many powerful built-in functions. Understanding and utilizing these can save you a lot of
                time.</p>
        </li>
        <li>
            <h3>Practice good code organization</h3>
            <p>Separate your code into different functions, classes, or modules based on their functionality.</p>
        </li>
        <li>
            <h3>Comment your code</h3>
            <p>Always leave comments to describe what your code does. This is useful for other developers and for your
                future self.</p>
        </li>
        <li>
            <h3>Handle exceptions</h3>
            <p>Use try/except blocks to handle potential errors in your code and prevent your program from crashing.</p>
        </li>
        <li>
            <h3>Use list comprehensions</h3>
            <p>List comprehensions are a powerful Python feature that allows you to create lists in a very concise way.
            </p>
        </li>
        <li>
            <h3>Utilize libraries</h3>
            <p>Python has a lot of libraries you can experiment with, the ones I used in this project were: Flask,
                Flask-DebugToolbar, random, and datetime.</p>
        </li>
    </ol>
</div>

{% endblock %}